.typeWindows_a934d8 {
  position: absolute;
  gap: 2px;
  width: 72px;
  padding: 8px 0;
  justify-content: center;
}

.typeWindows_a934d8:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100svw;
  height: 16px;
  -webkit-app-region: drag;
}

.wordmarkWindows_a934d8 {
  display: none;
}

.typeWindows_a934d8 + .appAsidePanelWrapper_bd26cc .guilds_a4d4d9 {
  padding-top: 32px;
}

.typeWindows_a934d8 .winButton_a934d8 {
  height: 16px;
  width: 16px;
  scale: 0.75;
}

.typeWindows_a934d8 .winButtonClose_a934d8 {
  order: 3;
}

.typeWindows_a934d8 .winButtonMinMax_a934d8:nth-last-of-type(1) {
  order: 2;
}

.typeWindows_a934d8 .winButtonMinMax_a934d8:nth-last-of-type(2) {
  order: 1;
}

.typeWindows_a934d8:hover .winButton_a934d8:before {
  opacity: 1;
}

.typeWindows_a934d8
  .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(1):after {
  background-color: var(--app-button-min);
}

.typeWindows_a934d8
  .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(2):after {
  background-color: var(--app-button-max);
}

.typeWindows_a934d8 .winButton_a934d8.winButtonClose_a934d8:after {
  background-color: var(--app-button-close);
}

.sidebar_c25c6d {
  padding: 72px 0 40px 0;
}

.sidebar_c25c6d .side_a0 > div:not([class])[style='margin-bottom: 8px;'] {
  top: 0;
}
